
body{
    
    background-color: #6abbe0;
    font-family: arial;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 20px;
    margin-left: 30px;
    
  }
  nav ul li{
    padding-right: 10px;
    font-weight: bolder;
    color: aliceblue;
    
  }
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    padding-top:30px;
    width:60%;
    margin:0 auto;  
}


.nav {
    display:flex;
    flex-direction: row;
    justify-content:space-around;   
    margin:0 auto;
    padding:3px;
    width: 60%; 
    margin-top:20px;
    margin-bottom:10px;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    color: white;
    
    
}

.nav li{
    
    background-color:rgb(176, 47, 24);
    padding:5px 30px 5px 30px;
    border-bottom: 3px solid rgb(231, 224, 224);
    

}



.subscribe {
    padding-left: 500px;
    padding-right: 50px;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    word-spacing: 10px;
    color: white;
    
}

#fivedots{
    width: 15px;
    margin: auto;
    border: 0px;
    
}

.social img {
    width: 35px;
    border-bottom: 3px solid rgb(192, 191, 191);
    
}
.social ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
}


.top {
    position: relative;
    background-image: url(../IMG/product/mink-mingle-Riz1qAplMQk-unsplash.jpg);
    background-size: 100%;
    background-position: 15% 30%;
    width: 59%;
    height: 230px;
    margin: 0 auto;
    border: 2px solid white;
}

.grid {
    position: absolute;
    background-image: url(../IMG/home/toby-osborn-ilHo9qgDEGY-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 230px;
    margin: 0 auto;
    opacity: 0.3;
}



div a{
    margin:3px;
    padding:1px;
}


.button {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 10px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.article1 {
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
    margin-bottom: 30px;
    
}

.part1,.part2,.part3{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:3px solid white;
    background:white;
    height:21rem;
    padding:15px;
    width:30%;
    justify-content: center;
    border-bottom: 3px solid grey;
}

.article1 h1{
    font-Size:16px;
    font-family: sans-serif;
    margin:8px;
    

}
.article1 p{
    font-Size:15px;
    font-family: sans-serif;
    margin:3px;

}

article a {
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #B6292A;
    text-transform: uppercase;
    margin: 22px;
}

article a:visited {
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color:whitesmoke;
    text-transform: uppercase;
    margin: 50px;
}

.gridphoto{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-left:20%;
  width:60%;
  height: 500px;
  
}

.card1{
    border:2px solid rgb(235, 231, 231);
    grid-column-start: 1 ;
    grid-column-end:2;
    grid-row-start:1 ;
    grid-row-end:2;
    background-image:url("../IMG/home/toby-osborn-ilHo9qgDEGY-unsplash.jpg");
    background-size:cover;
    background-position:right;
    background-repeat: no-repeat;
    color:white;
    font-size:50px;
    font-family:Arial;
    text-align:center;
    padding:70px 0;
    font-weight:bold; 
  }
  .card2{
    grid-column-start: 2 ;
    grid-column-end:3;
    grid-row-start:1 ;
    grid-row-end:2;
    border:2px solid whitesmoke;
    background-position:center top;
    background-size:160%;
    background-image:url("../IMG/0cean1.jpg");
    background-size:cover;
    background-position:left;
    background-repeat: no-repeat;
    color:white;
    font-size:50px;
    font-family:-apple-system,Helvetica,Arial,sans-serif;
    text-align:center;
    padding:70px 0;
    font-weight:bold;
  }
  .card3{
    grid-column-start: 1 ;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3;
    border:2px solid whitesmoke;
    
    background-image:url("../IMG/ocean.jpg");
    background-size:cover;
    background-position:bottom;
    background-repeat: repeat;
    color:white;
    font-size:50px;
    font-family:Arial;
    text-align:center;
    padding:70px 0;
    font-weight:bold;
  }
  .card4{
    grid-column-start: 3 ;
    grid-column-end:4;
    grid-row-start:1 ;
    grid-row-end:3;
    border:2px solid whitesmoke;
    background-image:url("https://media.giphy.com/media/G8rcbSPfCgs3VDrWi5/giphy.gif");
    background-size:cover;
    background-position:right top;
    background-repeat: no-repeat;
    color:white;
    font-size:50px;
    font-family:Arial;
    text-align:center;
    padding:150px 0;
    font-weight:bold;
  }

.container{
    display: flex;
    justify-content: space-around;
    border-color: blue;
    width:20dx;
    height:30px;
    position: absolute;;
    right:30pxï¼›
    }
 
 .skatespan{
     position:relative;
     left:-15px;
     bottom: 4px;
 }

 #messagespan {
    width: 300px;
    height: 50px;
    margin-top: 50px;
    animation-duration: 5s;
    animation-name: slidein;
    font-size: xx-large;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    } 
    to {
      margin-left: 0%;     
    }
  }
 .box {
    width: 150px;
    height: 55px;
    background-color: rgb(176, 47, 24);
    color: #fff;
    padding: 20px;
    position: relative;
    margin: -2px;
    float: left;
    bottom: -60px;
    left:90px;
    border-bottom: 3px solid grey;  
  }
  .box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -30px;
    top: 1px;
    border-top: 27px solid transparent;
    border-right: none;
    border-left: 30px solid rgb(176, 47, 24);
    border-bottom: 27px solid transparent;
  }
  

     .skateboard{
         width:60%;
         height: 300px;
         margin:0 auto;
         display:flex;
         flex-direction:row;
         justify-content: space-between;
         
         /* border :3px solid whitesmoke; */
         background-color: transparent;
         margin-bottom: 30px;
         
     }
      .skateboard img{
        width: 24%;
        height: 80%;
        border-radius: 50%;
      }

     footer{
        display:flex;
        flex-direction: row;
        background-color:transparent;
        padding:10px;
        width:60%;
        height:300px;
        margin:0 auto;
        border-bottom: 3px solid grey;
       margin-bottom: 20px;
    }
    
    .intro{
        display:grid;
        grid-template-columns: 1fr;
        width:70%;
        height:140px;
        margin-top: 20px;
        margin-left: 30px;
        
    }

    .form{ 
        
        margin-left:5px;
        padding:2px;
        display:flex;
        flex-direction: column;
        align-items:left;
        width:370px;
        height:250px;
        margin: 0 auto;
        /* border:2px solid green; */
    }

    form ul {
      list-style-type: none;
    }
    
    .intro p{
        text-align: justify;
        font-size: 15px;
        line-height: 1.5;
        margin-top: 10px;
        width:338px;
    }

    .icons{
        width:150px;
        height:20px;
        margin-top: 25px;
        color: rgb(102, 99, 99);
        
    }
     #submit{
         width:200px;
         height:30px;
         background-color: #B6292A;
         color:whitesmoke;
         margin-left: 165px;
         margin-top: 10px;
         border-style: none;
     }
    .name{
        width:100%;
        height:30px;
        margin:20px 0 5px 0;
        
        border-style: inset;
        
    }
    .email{
        width:100%;
        height:30px;
        margin:5px 0 5px 0;
        border-style:inset;
        border-color:grey;
    }
    .message{
        width:100%;
        height:80px;
        margin:5px 0 0 0;
        border-style:inset;
        border-color:grey;
    }

    .footerp{
      color:aliceblue;
      
    }